/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
* {
  -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.App {
  height: 100vh;
  width: 100vw;
}

.Main {
  height: 100vh;
  width: 100vw;
}

.Monopoly {
  height: 100vh;
  width: 100vw;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center; /* Выравнивание по центру по вертикали */
    padding: 10px; /* Отступы вокруг контейнера */
}


.wallet-box {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center; /* Выравнивание по центру по вертикали */
    padding: 10px; /* Отступы вокруг контейнера */
    width: 20%;
    height: auto;
    background-color: #507BEC;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.counttrue-box {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center; /* Выравнивание по центру по вертикали */
    padding: 10px; /* Отступы вокруг контейнера */
    width: 20%;
    height: auto;
    background-color: #507BEC;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.wallet-icon {
    width: 100%;
    height: auto;
  background-image: url(https://cdn1.picturebb.com/1/2024/07/30/7TIiY.webp);
  background-size: contain;
  background-repeat: no-repeat;
  color: #ffffff00;
}

.counttrue-icon {
    width: 100%;
    height: auto;
    background-image: url(https://cdn1.picturebb.com/1/2024/07/30/7T0BI.webp);
    background-size: contain;
    background-repeat: no-repeat;
    color: #ffffff00;
}

.close-icon {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn1.picturebb.com/1/2024/07/31/7TYwQ.webp);
    background-size: contain;
    background-repeat: no-repeat;
    color: #ffffff00;
}

.close-box {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    /*Размещаетэлементыпокраям*/align-items: center;
    /*Выравниваниепоцентруповертикали*//*Отступывокругконтейнера*/width: 9%;
    height: 5%;
    background-color: #507BEC;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.wallet-text {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #ffffff;
}

.counttrue-text {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #ffffff;
}

.title-box {
    margin-top: 0px;
    text-align: center;
}

.title-main {
  background-image: url(https://cdn1.picturebb.com/1/2024/07/30/7TynV.webp);
    background-size: contain;
    background-repeat: no-repeat;
    color: #00000000;
    font-size: 200px;
}


.main-box {
position: absolute;
  bottom: 0;
  margin-top: 0px;
  width: 100vw;
  height: 73vh;
  background: #ffffff;
  border-radius: 80px 80px 0px 0px;
  -webkit-border-radius: 80px 80px 0px 0px;
  -moz-border-radius: 80px 80px 0px 0px;
  -ms-border-radius: 80px 80px 0px 0px;
  -o-border-radius: 80px 80px 0px 0px;
}

.main-text {
    padding: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center;
}

.education-text {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #000000;
}

.reflink-text {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #4771DE;
}

.coin-button-box {
  text-align: center;
  padding: 0;
}

.coin-button {
  width: 60vw; /* Ширина кнопки в процентах от ширины экрана */
  height: 60vw; /* Высота кнопки равна ширине для сохранения круглой формы */
  max-width: 270px; /* Максимальная ширина кнопки */
  max-height: 270px; /* Максимальная высота кнопки */
  overflow: hidden; /* Скрываем выходящие за пределы круга части */
  background-color: black; /* Цвет фона кнопки */
  border: none; /* Убираем границу */
  padding: 0; /* Убираем внутренние отступы */
  cursor: pointer; /* Курсор в виде указателя */
  background-image: url(https://i.postimg.cc/CdpBgyZm/temp-Image3-IX8-Ss.avif);
  background-size: contain;
  border-radius: 50%; /* Круглая форма */ /* Убираем лишние отступы вокруг изображения */
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 6px 6px 6px 6px rgba(255, 102, 51, 0.2);
  margin-bottom: 20px;
}

.count-box-box {
     display: grid;
}

.count-box {
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /*Размещаетэлементыпокраям*/align-items: center;
    /*Выравниваниепоцентруповертикали*/width: 30%;
    height: 100%;
    background-color: #507BEC;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

.korona {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn1.picturebb.com/1/2024/07/30/7Tbsl.webp);
    background-size: contain;
    background-repeat: no-repeat;
    color: #00000000;
}

.count {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.loading-wheel {
  text-align: center;
   margin-top: 10vh;
    width: 20vh;
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-duration: 3s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container-for-navbar {
  margin-bottom: 30vh;
}

.navbar-box {
    bottom: 0;
    left: 0;
  position: fixed;
  display: flex;
        justify-content: space-around;
        align-items: center;

  width: 100vw; /* Ширина кнопки в процентах от ширины экрана */
  height: 30vw; /* Высота кнопки равна ширине для сохранения круглой формы *//* Максимальная высота кнопки */
  background: #ffffff;


}

.nav-item {
    display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0); /* Цвет текста */
    padding: 6%; /* Отступы для кнопок */
    text-align: center; /* Центрирует текст в кнопках */
    cursor: pointer; /* Указатель при наведении */
}

    .icon {
        margin-top: 8px;
        width: 100%;
        height: 100%;
        border: none;
        color: #00000000;
    }

.boosts {
    background-image: url(https://cdn1.picturebb.com/1/2024/07/30/7Tm7u.webp);
    background-size: contain;
  background-repeat: no-repeat;
}

.monopoly {
    background-image: url(https://cdn1.picturebb.com/1/2024/07/30/7Tpah.webp);
    background-size: contain;
  background-repeat: no-repeat;
}

.tasks {
    background-image: url(https://cdn1.picturebb.com/1/2024/07/30/7T3eT.webp);
    background-size: contain;
  background-repeat: no-repeat;
}

.icon-description {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #000000;
}

.gallery {
  position: relative;
  width: 100%;
  height: 50vh;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
}

.image.active {
  opacity: 1;
}

.image:not(.active) {
  opacity: 0;
}

.swipe-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.swipe-left, .swipe-right {
    text-align: center;
   background-color: #507BEC; 
   border-radius: 50%;
   width: 40px;
   height: 40px;
  cursor: pointer;
  font-size: 30px;
  color: #ffffff
}


.monopoly-box {
position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0px;
  width: 100vw;
  height: 85vh;
  background: #ffffff;
  border-radius: 80px 80px 0px 0px;
  -webkit-border-radius: 80px 80px 0px 0px;
  -moz-border-radius: 80px 80px 0px 0px;
  -ms-border-radius: 80px 80px 0px 0px;
  -o-border-radius: 80px 80px 0px 0px;
}

.monopoly-title {
    text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #000000;
    font-size: 15px
}

.upgrade-btn-box {
    margin-top: 20px;
    text-align: center;
    height: 10%;
}

.upgrade-btn {
  text-align: center;
    width: 30%;
    height: 80%;
    color: #ffffff;
    background-color: #507BEC;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    border: 0;
    font-size: 24px;
}

.title {
    margin-top: 10%;
 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #000000;
    font-size: 30px;
    text-align: center;
}

.catalog {
    margin-top: 10%;
    display: block;
    padding-left: 10%;
}

.product-box {
    display: flex;
    margin-top: 5%;
    background-color: #507BEC;
    width: 94%;
    height: 50px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

.product-level {
    margin-top: 3%;
    margin-left: 10%;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #ffffff;
}

.product-description {
    margin-top: 3%;
    margin-left: 10%;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #ffffff;
}

.product-price {
    margin-top: 3%;
    margin-left: 10%;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #ffffff;
    display: flex;
    
}

.korona-price {
    width: 20px;
    height: 20px;
    background-image: url(https://cdn1.picturebb.com/1/2024/07/30/7Tbsl.webp);
    background-size: contain;
    background-repeat: no-repeat;
    color: #00000000;
}

@-webkit-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-moz-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-o-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(720deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
