/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
* {
  -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.App {
  height: 100vh;
  background-color: rgb(37, 105, 168); /* Черный фон */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
  bottom: 0;
}
.Main {
  height: 100vh;
}

.Boost {
  height: 100vh;
}

.Task {
  height: 100vh;
}

.RefLink {
  height: 100vh;
}

.Loading-page {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.postimg.cc/XJfjwd38/temp-Imagem3z-Mky.avif);
}


.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center; /* Выравнивание по центру по вертикали */
    padding: 10px; /* Отступы вокруг контейнера */
}


.wallet-box {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center; /* Выравнивание по центру по вертикали */
    padding: 10px; /* Отступы вокруг контейнера */
    width: 20%;
    height: auto;
    background-color: #507BEC;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.counttrue-box {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center; /* Выравнивание по центру по вертикали */
    padding: 10px; /* Отступы вокруг контейнера */
    width: 20%;
    height: auto;
    background-color: #507BEC;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.wallet-icon {
    width: 100%;
    height: auto;
  background-image: url(https://cdn.discordapp.com/attachments/1243965505513984013/1266728798166974617/Mask_group_5.png?ex=66a634a0&is=66a4e320&hm=81001975a547ce7bf45a72f207c5e5248cfd9a6b04411568ce936aa9ac04822c&);
  background-size: contain;
  background-repeat: no-repeat;
  color: #ffffff00;
}

.counttrue-icon {
    width: 100%;
    height: auto;
    background-image: url(https://cdn.discordapp.com/attachments/1243965505513984013/1266728796451508314/Mask_group_2.png?ex=66a6349f&is=66a4e31f&hm=89e8ca653a41858bffc97f5f44db860c0747026e60546d9b92b6174a2bfb037f&);
    background-size: contain;
    background-repeat: no-repeat;
    color: #ffffff00;
}

.wallet-text {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #ffffff;
}

.counttrue-text {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #ffffff;
}

.title-box {
    margin-top: 0px;
    text-align: center;
}

.title {
  background-image: url(https://cdn.discordapp.com/attachments/1243965505513984013/1266728797680439306/image_3.png?ex=66a634a0&is=66a4e320&hm=b3584b5208e8b74c9d3eb0e889a35396988da3dfd31938b81948cb6eb092c8dc&);
    background-size: contain;
    background-repeat: no-repeat;
    color: #00000000;
    font-size: 200px;
}


.main-box {
position: absolute;
  bottom: 0;
  margin-top: 0px;
  width: 100vw;
  height: 73vh;
  background: #ffffff;
  border-radius: 80px 80px 0px 0px;
  -webkit-border-radius: 80px 80px 0px 0px;
  -moz-border-radius: 80px 80px 0px 0px;
  -ms-border-radius: 80px 80px 0px 0px;
  -o-border-radius: 80px 80px 0px 0px;
}

.main-text {
    padding: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center;
}

.education-text {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #000000;
}

.reflink-text {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: #4771DE;
}

.coin-button-box {
  text-align: center;
  padding: 0;
}

.coin-button {
  width: 60vw; /* Ширина кнопки в процентах от ширины экрана */
  height: 60vw; /* Высота кнопки равна ширине для сохранения круглой формы */
  max-width: 270px; /* Максимальная ширина кнопки */
  max-height: 270px; /* Максимальная высота кнопки */
  overflow: hidden; /* Скрываем выходящие за пределы круга части */
  background-color: black; /* Цвет фона кнопки */
  border: none; /* Убираем границу */
  padding: 0; /* Убираем внутренние отступы */
  cursor: pointer; /* Курсор в виде указателя */
  background-image: url(https://i.postimg.cc/CdpBgyZm/temp-Image3-IX8-Ss.avif);
  background-size: contain;
  border-radius: 50%; /* Круглая форма */ /* Убираем лишние отступы вокруг изображения */
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 6px 6px 6px 6px rgba(255, 102, 51, 0.2);
  margin-bottom: 20px;
}

.count-box-box {
     display: grid;
}

.count-box {
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /*Размещаетэлементыпокраям*/align-items: center;
    /*Выравниваниепоцентруповертикали*/width: 30%;
    height: 100%;
    background-color: #507BEC;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

.korona {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.discordapp.com/attachments/1243965505513984013/1266728797911388193/Mask_group_3.png?ex=66a634a0&is=66a4e320&hm=8d8da8af6103463ecb8de4915ba810bc480323793ecbca547366c75cdba24d05&);
    background-size: contain;
    background-repeat: no-repeat;
    color: #00000000;
}

.count {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.nav-bar-btn-box {
  bottom: 0;
  position: fixed;
  display: flex;
        justify-content: space-around;
        align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  width: 60vw; /* Ширина кнопки в процентах от ширины экрана */
  height: 60vw; /* Высота кнопки равна ширине для сохранения круглой формы */
  max-width: 270px; /* Максимальная ширина кнопки */
  max-height: 80px; /* Максимальная высота кнопки */
  background: #ffffff;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 1px 1px;
}

.nav-btn {
  display: inline;
}

.btn-description {
  text-decoration: none;
}



    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 0;
    }

    .icon {
      margin-top: 8px;
        width: 40px;
        height: 40px;
        border: none;
        
    }

    



.home {
  background-image: url(https://i.postimg.cc/pLw8ZsVK/temp-Imagee-Om-PJG.avif);
  background-size: contain;
  background-repeat: no-repeat;
  
}

.boost {
  background-image: url(https://i.postimg.cc/pL47BMnk/temp-Imagexhab-Wr.avif);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.task {
  background-image: url(https://i.postimg.cc/KzyHd7fM/temp-Image-GVZB90.avif);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.reflink {
  background-image: url(https://i.postimg.cc/0N1nQkSg/temp-Image7-Pk-ROM.avif);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.icon-description {
  font-size: 15px;
}

.catalog {
  text-align: center;
  padding-bottom: 20vh;
}


.card {
  width: 60vw;
  height: 60vw;
  max-width: 300px;
  max-height: 100px;
  background: #ffffff;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 1px 1px;
  margin-bottom: 10px;
  
}

.card-text {
text-align: right;
padding-right: 5%;
padding-top: 5%;
}

.card-hr {
  margin-top: 10%;
  width: 100%;
  height: 3px;
  border: 0;
  background-color: black;
}

.card-footer {
  display: flex;
}

.card-level {
  text-align: left;
  padding-left: 5%;
  color: black;
}

.card-price {
  text-align: right;
  padding-left: 60%;
}

.card-money {
  width: 20px;
  height: 20px;
  background-image: url(https://i.postimg.cc/CdpBgyZm/temp-Image3-IX8-Ss.avif);
  background-size: contain;
  border-radius: 50%; /* Круглая форма */
  display: block; /* Убираем лишние отступы вокруг изображения */
}

.task-card {
  width: 60vw;
  height: 60vw;
  max-width: 300px;
  max-height: 100px;
  background: #ffffff;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 1px 1px;
  margin-bottom: 10px;
}

.task-text {
  text-align: right;
  padding-right: 5%;
  padding-top: 5%;
}

.task-hr {
  margin-top: 10%;
  width: 100%;
  height: 3px;
  border: 0;
  background-color: black;
}

.task-footer {
  display: flex;
}

.task-level {
  text-align: left;
  padding-left: 5%;
  color: black;
}

.task-price {
  text-align: right;
  padding-left: 60%;
}

.task-money {
  width: 20px;
  height: 20px;
  background-image: url(https://i.postimg.cc/CdpBgyZm/temp-Image3-IX8-Ss.avif);
  background-size: contain;
  border-radius: 50%; /* Круглая форма */
  display: block; /* Убираем лишние отступы вокруг изображения */
}

.loading-wheel {
  text-align: center;
   margin-top: 10vh;
    width: 20vh;
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-duration: 3s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
 
@-webkit-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-moz-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-o-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(720deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
